<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login | SentiScope</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="auth-container">

    <div class="auth-card">

        <h1>SentiScope</h1>

        <p>
            AI Customer Review Sentiment Analyzer
        </p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}

                <div class="alert">
                    {{ messages[0] }}
                </div>

            {% endif %}
        {% endwith %}

        <form method="POST">

            <input
                type="email"
                name="email"
                placeholder="Email Address"
                required>

            <input
                type="password"
                name="password"
                placeholder="Password"
                required>

            <button type="submit">
                Login
            </button>

        </form>

        <div class="auth-footer">

            Don't have an account?

            <a href="/register">
                Register
            </a>

        </div>

    </div>

</div>

</body>
</html>