<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>SentiScope Register</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="auth-container">

    <div class="auth-card">

        <h1>Create Account</h1>

        <p>
            Register to access SentiScope Analytics
        </p>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

        <form method="POST">

            <input
            type="text"
            name="name"
            placeholder="Full Name"
            required>

            <input
            type="email"
            name="email"
            placeholder="Email Address"
            required>

            <input
            type="password"
            name="password"
            placeholder="Password"
            required>

            <button type="submit">
                Create Account
            </button>

        </form>

        <br>

        <p>
            Already have an account?

            <a href="/login">
                Login
            </a>
        </p>

    </div>

</div>

</body>
</html>